# Dependencias
node_modules/

# Variables de entorno
.env
.env.*

# Archivos del sistema
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/*
!.vscode/settings.json

# Logs
*.log

# Archivos temporales
*.tmp
*.temp

# Archivos generados
dist/
build/